.social-auth {
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #92a0b3;
  font-size: 0.75rem;
  line-height: 160%;
  letter-spacing: 0.01em;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: calc(50% - 1px);
    background-color: #dee3ea;
    height: 1px;
    width: 100%;
  }

  span {
    padding-inline-start: 0.625rem;
    padding-inline-end: 0.625rem;
    background-color: #181717;

    @media only screen and (max-width: 992px) {
      background-color: #292424;
    }
  }
}

.link-row {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.error-message {
  padding-bottom: 0;
  font-size: 0.75rem;
  color: #ff4961;
  margin-left: 18px;
}

.logo {
  width: 130px;
}
