<div class="ion-button text-center w-100 py-3 p-lg-0">
  <button class="gsi-material-button" (click)="onSigninWithGoogleClick()">
    <div class="gsi-material-button-state"></div>
    <div class="gsi-material-button-content-wrapper">
      <div class="gsi-material-button-icon">
        <app-icon type="Google"></app-icon>
      </div>
      <span class="gsi-material-button-contents">
        {{ dictionary.SigninWithGoogle }}
      </span>
      <span style="display: none">
        {{ dictionary.SigninWithGoogle }}
      </span>
    </div>
  </button>
</div>
