<ion-modal
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
  (ionModalDidPresent)="setFocusForInput()"
  [backdropDismiss]="true"
  class="exception-modal"
  [class]="{ 'new-price-modal': !showRangeStartAndEndInRuleModal }"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title *ngIf="showRangeStartAndEndInRuleModal">
          {{ dictionary.NewException }}
        </ion-title>
        <ion-title *ngIf="!showRangeStartAndEndInRuleModal" class="fs-6">
          {{ dictionary.Set }}
          <span>{{ showPriceValueMode(rule.priceValueMode) }}(%)</span> for "{{
            productName
          }}"
          <!-- <span class="region-lable" *ngIf="regionName">{{ regionName }}</span> -->
        </ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!RuleForm.form.valid"
            (click)="onSaveClick()"
          >
            {{ dictionary.Done }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content [appDirtyPage]="RuleForm.dirty ? true : false">
      <form #RuleForm="ngForm">
        <ion-grid>
          <ion-row *ngIf="showRangeStartAndEndInRuleModal">
            <ion-col size="12" class="mt-1 mb-2" *ngIf="showPriceRangeCheckBox">
              <ion-checkbox
                justify="end"
                [(ngModel)]="isPriceRange"
                name="isPriceRange"
              >
                {{ dictionary.Range }}
              </ion-checkbox>
            </ion-col>
            <ion-col [size]="isPriceRange ? 6 : 12">
              <ion-input
                labelPlacement="floating"
                fill="outline"
                id="start"
                name="start"
                [label]="isPriceRange ? dictionary.StartFace : dictionary.Face"
                [(ngModel)]="rule.faceValue.start"
                [required]="true"
                [maskito]="thousandSeparator"
                [maskitoElement]="maskPredicate"
                [inputmode]="'numeric'"
                (keydown.enter)="RuleForm.form.valid ? onSaveClick() : ''"
                minValue
                [minValueNumber]="minEndValue!"
                (ionInput)="onInputStart($event)"
              />
              <span class="text-danger">{{ errorTextStartValue }}</span>
            </ion-col>
            <ion-col size="6" *ngIf="isPriceRange">
              <ion-input
                labelPlacement="floating"
                fill="outline"
                mode="md"
                id="end"
                name="end"
                [label]="dictionary.EndFace"
                [(ngModel)]="rule.faceValue.end"
                [maskito]="thousandSeparator"
                [maskitoElement]="maskPredicate"
                [inputmode]="'numeric'"
                (keydown.enter)="RuleForm.form.valid ? onSaveClick() : ''"
                maxValue
                [maxValueNumber]="maxEndValue ? maxEndValue! : 999999999999"
                (ionInput)="onInputEnd($event)"
                [appPreventNavigateNumber]="true"
              />
              <span class="text-danger">{{ errorTextEndValue }}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col
              size="12"
              size-sm="6"
              *ngIf="
                (branch?.canSetFaceValue && branch?.canSetBuyValue) ||
                (isOpenedBySetBuyingPrice &&
                  parentBranch?.canSetBuyValue &&
                  parentBranch?.canSetFaceValue)
              "
            >
              <app-combobox
                name="priceValueMode"
                id="priceValueMode"
                [Label]="dictionary.PriceValueMode"
                [(ngModel)]="rule.priceValueMode"
                [data]="priceValueModes"
                [textField]="'name'"
                [valueField]="'id'"
                [required]="true"
                (selectionChange)="priceValue = ''"
              ></app-combobox>
            </ion-col>
            <ion-col
              [size]="12"
              [sizeSm]="
                (branch?.canSetFaceValue && branch?.canSetBuyValue) ||
                (isOpenedBySetBuyingPrice &&
                  parentBranch?.canSetBuyValue &&
                  parentBranch?.canSetFaceValue)
                  ? 6
                  : 12
              "
            >
              <ion-input
                id="priceValue"
                name="priceValue"
                labelPlacement="floating"
                fill="outline"
                [label]="
                  rule.priceValueMode === 1
                    ? dictionary.Margin + ' (%)'
                    : dictionary.Discount + ' (%)'
                "
                [(ngModel)]="priceValue"
                [maskito]="thousandSeparator"
                [inputmode]="'numeric'"
                mode="md"
                [maskitoElement]="maskPredicate"
                [appPreventNavigateNumber]="rule.priceValueMode === 1"
                #discountInput
                (keydown.enter)="RuleForm.form.valid ? onSaveClick() : ''"
                [required]="true"
              />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <app-combobox
                id="isActive"
                [Label]="dictionary.Status"
                [(ngModel)]="isActive"
                name="isActive"
                [data]="activeList"
                [textField]="'name'"
                [valueField]="'value'"
                [required]="true"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
