.categories__modal {
  --max-height: 700px;
  --height: 700px;
}

@media screen and (max-width: 840px) {
  .categories__modal {
    --height: 100% !important;
    --max-height: 100% !important;
  }
}
