<app-page-list
  [cols]="cols"
  [data]="buyLimitList"
  [listPermission]="'SaleManagerRead'"
  [loading]="loading"
  [label]="dictionary.BuyLimits"
  [subLabel]="'(Buy limits are set on a daily basis.)'"
  [hasLocalPagination]="true"
  [hasAdvancedFilter]="false"
  [hasSearch]="false"
  [hasExport]="false"
  [hasRefresh]="false"
  [hasNewButton]="true"
  [hasRefresh]="true"
  [hasExport]="true"
  [page]="page"
  [pageSize]="pageSize"
  [showPagination]="true"
  [newButtonLabel]="dictionary.SetLimit"
  (newButtonClick)="addNewSetLimitBtn()"
  [newButtonPermission]="'AssignMerchantToSaleManager'"
  (exportClick)="onExcelExportClick()"
  (refreshClick)="onRefreshClick()"
  (iconRowClick)="deleteLimitConfirmation($event)"
  (linkRowClick)="onEditLimitConfirmation($event)"
/>

<app-set-limit
  *ngIf="openSetLimitModal"
  [isOpen]="openSetLimitModal"
  [data]="limitaionData"
  (dismiss)="dismissSetLimitationModal()"
  (setBuyLimit)="setLimitation()"
  (submitLimitation)="limitAction($event)"
></app-set-limit>
