.icon__btn {
  margin-left: 8px;
  cursor: pointer;
  padding: 4px;
}

.link-item {
  color: var(--hyper-link-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.node-image {
  width: 30px;
  height: 27px;
  border-radius: 5px !important;
}
