.order__modal {
  --height: 326px;

  ion-content {
    --overflow: hidden;

    form {
      width: 100%;

      .number__col {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .input {
        width: 60%;
      }
    }
  }
}

.error-input {
  --border-color: var(--highlight-color-invalid) !important;
  --highlight-color: var(--highlight-color-invalid) !important;
}

.amount-range-label {
  color: var(--ion-color-step-550, #737373) !important;
  font-size: 0.75rem !important;
  padding-left: 10px;
}

@media screen and (max-width: 840px) {
  .order__modal {
    --height: 100% !important;
    --max-height: 100% !important;
  }
}
