.categories__modal {
  // --max-height: 700px;
  --height: 95vh;
}

@media screen and (max-width: 840px) {
  .categories__modal {
    --height: 100% !important;
    --max-height: 100% !important;
  }
}
ion-spinner {
  position: absolute;
  top: 19px;
  right: 15px;
}