.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--ion-text-color);
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}
.credit-card{
  width: auto;
  min-width: 243px;
}

@media screen and (max-width: 840px) {
  .credit-card {
    width: 100%;
  }
  .credit-btn{
    width: 80px;
    height: 36px;
    font-size: 12px;
  }
}


