<app-page-list
  [cols]="cols"
  [loading]="loading"
  [label]="dictionary.AllCustomers"
  [data]="allCustomers"
  [showActionSheet]="false"
  [hasAdvancedFilter]="false"
  [hasSearch]="true"
  [showPagination]="true"
  [hasRefresh]="true"
  [hasExport]="true"
  [hasNewButton]="false"
  [page]="page"
  [pageSize]="pageSize"
  [newButtonPermission]="'ProductRead'"
  (refreshClick)="onRefreshClick()"
  (exportClick)="onExcelExportClick()"
  [exportPermission]="'ProductRead'"
  (inputSearch)="onInputSearch($event)"
  (toggleClick)="onToggleClick($event)"
  (pageChanged)="pageChanged($event)"
/>
