ion-content {
  --background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  --overflow: auto;

  .signin-wrapper {
    width: 100%;
    height: 80vh;
    padding: 32px;
    .logo {
      width: 250px;
    }
    .ion-button {
      width: 100%;
      .gsi-material-button {
        width: 190px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .signin-wrapper {
    .ion-button {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -10px);
      width: 100%;
      text-align: center;
      .gsi-material-button {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 320px) {
  p {
    font-size: 14px;
  }
  .logo {
    width: 115px !important;
  }
}
