<!--suppress JSUnresolvedReference -->
<div class="content">
  <ion-grid>
    <ion-card class="ion-no-margin mt-1">
      <ion-card-content>
        <ion-card-title class="mb-2">Company Info</ion-card-title>
        <div class="row mx-1">
          <div class="col-12 col-sm-8">
            <div class="d-flex flex-column align-items-start w-100">
              <div class="d-flex mb-1">
                <ion-label class="label">{{ dictionary.Name }}:</ion-label>
                <span class="ms-2 result-text">{{
                  bracnch?.merchant?.merchantName
                }}</span>
              </div>
              <div class="d-flex mb-1">
                <ion-label class="label">{{ dictionary.Id }}:</ion-label>
                <span class="ms-2 result-text">{{ bracnchId }}</span>
              </div>
              <div class="d-flex mb-1">
                <ion-label class="label"
                  >{{ dictionary.SaleManger }}:</ion-label
                >
                <span class="ms-2 result-text">{{
                  bracnch?.merchant?.saleManager?.name || "-"
                }}</span>
              </div>
              <div class="d-flex mb-1">
                <ion-label class="label">{{ dictionary.Email }}:</ion-label>
                <span class="ms-2 result-text">{{
                  bracnch?.merchant?.email
                }}</span>
              </div>
              <div class="d-flex mb-1">
                <ion-label class="label"
                  >{{ dictionary.PhoneNumber }}:</ion-label
                >
                <span class="ms-2 result-text">
                  <span
                    *ngIf="!!bracnch?.merchant?.phoneNumber; else elseBlock"
                  >
                    (+{{ bracnch?.merchant?.phoneNumber?.countryCode }})
                    {{ bracnch?.merchant?.phoneNumber?.number }}
                  </span>
                  <ng-template #elseBlock> - </ng-template>
                </span>
              </div>
              <div class="d-flex mb-1">
                <ion-label class="label"
                  >{{ dictionary.WhatsappNumber }}:</ion-label
                >
                <span class="ms-2 result-text">
                  <span
                    *ngIf="!!bracnch?.merchant?.whatsappNumber; else elseBlock"
                  >
                    (+{{ bracnch?.merchant?.whatsappNumber?.countryCode }})
                    {{ bracnch?.merchant?.whatsappNumber?.number }}
                  </span>
                  <ng-template #elseBlock> - </ng-template>
                </span>
              </div>
              <div class="d-flex mb-1">
                <ion-label class="label">{{ dictionary.Website }}:</ion-label>
                <span class="ms-2 result-text">{{
                  bracnch?.merchant?.website || "-"
                }}</span>
              </div>
              <div class="d-flex mb-1">
                <ion-label class="label">{{ dictionary.TimeZone }}:</ion-label>
                <span class="ms-2 result-text">
                  {{ timezoneNumber }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <ion-card-title class="mb-2 mt-4">Address</ion-card-title>
        <div class="row mx-1">
          <div class="col-12 col-sm-8">
            <div class="d-flex flex-column align-items-start w-100">
              <div class="d-flex mb-1">
                <ion-label class="label">{{ dictionary.Address }}:</ion-label>
                <div
                  *ngIf="
                    bracnch?.merchant && bracnch?.merchant?.address;
                    else emptyData
                  "
                >
                  <span
                    *ngIf="bracnch?.merchant?.address?.country"
                    class="ms-2 result-text"
                  >
                    {{ bracnch?.merchant?.address?.country }} /
                  </span>
                  <span
                    *ngIf="bracnch?.merchant?.address?.state"
                    class="ms-2 result-text"
                  >
                    {{ bracnch?.merchant?.address?.state }} /
                  </span>
                  <span
                    *ngIf="bracnch?.merchant?.address?.city"
                    class="ms-2 result-text"
                  >
                    {{ bracnch?.merchant?.address?.city }} -
                  </span>
                  <span
                    *ngIf="bracnch?.merchant?.address?.rawAddress"
                    class="ms-2 result-text"
                  >
                    {{ bracnch?.merchant?.address?.rawAddress }}
                  </span>
                </div>
              </div>
              <ng-template #emptyData>
                <span class="mx-2"> {{ " - " }} </span>
              </ng-template>
              <div class="d-flex mb-1">
                <ion-label class="label"
                  >{{ dictionary.ZIPPostalCode }}:</ion-label
                >
                <span class="ms-2 result-text">{{ bracnchId }}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</div>
