<ion-modal (willDismiss)="onDismiss()" [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!salesManagerForm.form.valid"
            (click)="onSaveClick()"
          >
            {{ dictionary.Save }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #salesManagerForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-text
                id="name"
                [Label]="dictionary.Name"
                [(ngModel)]="salesManager.name"
                name="name"
                [required]="true"
                [autofocus]="true"
              />
            </ion-col>
            <ion-col size="12">
              <ion-input
                [(ngModel)]="salesManager.email"
                name="email"
                required
                labelPlacement="floating"
                fill="outline"
                [label]="dictionary.Email"
                [email]="true"
                id="email"
              />
            </ion-col>
            <ion-col size="12">
              <app-mobile
                [Label]="dictionary.PhoneNumber"
                name="phoneNumber"
                id="phoneNumber"
                (inputChange)="phoneNumberChange($event)"
                [required]="true"
                #phoneNumber
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
