ion-select {
  min-height: 56px !important;
}

::ng-deep .ios .combo-box {
  border: 1px solid var(--ion-color-step-300, #b3b3b3);
  border-radius: 4px;
  padding: 0 16px;
}
ion-spinner {
  position: absolute;
  top: 19px;
  right: 15px;
}