<!--suppress JSUnresolvedReference -->
<app-page-list
  [label]="dictionary.CreditAndSettleTransactions"
  [data]="settleTransactions"
  [tagList]="tagList"
  [hasNewButton]="false"
  [hasSearch]="false"
  [hasCustomTableContent]="true"
  [listPermission]="'Settle'"
  [advancedFilterPermission]="'Settle'"
  [exportPermission]="'Settle'"
  [initialTemplate]="settleTransactionTable"
  [loading]="loading"
  [page]="page"
  [pageSize]="pageSize"
  (pageChanged)="pageChanged($event)"
  class="settle-transactions"
  (refreshClick)="refreshPage()"
  (advancedFilterClick)="openSettleTransactionFilterModal = true"
  (exportClick)="onExcelExportClick()"
/>
<ng-template #settleTransactionTable>
  <p-table
    [value]="settleTransactions"
    [columns]="cols"
    responsiveLayout="stack"
    styleClass="p-datatable-gridlines"
    breakpoint="840px"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="column-color" *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td
          class="column-color m-0 py-0"
          *ngFor="let col of columns; let i = index"
        >
          <div
            class="table__row"
            [class]="{ amount_row: col.field === 'amount' }"
            [ngSwitch]="col.field"
          >
            <span class="table__label__row me-2">{{ col.header }}</span>
            <div class="p-2">
              <span *ngSwitchCase="'walletTransactionId'">
                <span
                  *ngIf="rowData['supplierMerchant'].merchantId !== merchantId"
                >
                  {{ rowData["supplierMerchant"].merchantName }}
                  <span class="currency"> ({{ dictionary.Sender }}) </span>
                </span>

                <span
                  *ngIf="rowData['receiverMerchant'].merchantId !== merchantId"
                >
                  {{ rowData["receiverMerchant"].merchantName }}
                  <span class="currency"> ({{ dictionary.Receiver }}) </span>
                </span>
              </span>
              <span *ngSwitchCase="'createdTime'">
                {{ rowData[col.field].toISOString() | convertLocalDateTime }}
              </span>
              <span *ngSwitchCase="'transferWalletType'">
                {{ rowData[col.field] }}
              </span>
              <span *ngSwitchCase="'amount'">
                <span
                  [ngClass]="col.customClass"
                  [ngStyle]="col.customCss"
                  class="d-flex align-items-start gap-1"
                >
                  <ng-container
                    *ngIf="
                      rowData['receiverMerchant'].merchantId !== merchantId
                    "
                  >
                    <bdi
                      class="amount__danger__color d-flex align-items-center px-2"
                    >
                      -{{ rowData[col.field] | truncateDecimalsPipe }}
                      <span class="currency ms-2">
                        ({{ rowData.currency.currencyName }})
                      </span>
                    </bdi>
                  </ng-container>
                  <ng-container
                    *ngIf="
                      rowData['receiverMerchant'].merchantId === merchantId
                    "
                  >
                    <bdi class="d-flex align-items-center px-2">
                      {{ rowData[col.field] | truncateDecimalsPipe }}
                      <span class="currency ms-2">
                        ({{ rowData.currency.currencyName }})
                      </span>
                    </bdi>
                  </ng-container>
                </span>
              </span>
              <span
                class="d-flex align-items-center"
                *ngSwitchCase="'transferWalletState'"
              >
                <app-icon
                  *ngIf="rowData[col.field] === 'Completed'"
                  class="mt-1"
                  [type]="
                    rowData[col.field] === 'Completed'
                      ? 'Complete'
                      : 'inProgress__circle'
                  "
                />

                <app-icon
                  *ngIf="rowData[col.field] === 'Created'"
                  class="mt-1"
                  [type]="
                    rowData[col.field] === 'Created'
                      ? rowData[col.field]
                      : 'inProgress__circle'
                  "
                />

                <app-icon
                  *ngIf="rowData[col.field] === 'Failed'"
                  class="mt-1"
                  [type]="
                    rowData[col.field] === 'Failed'
                      ? rowData[col.field]
                      : 'inProgress__circle'
                  "
                />

                <app-icon
                  *ngIf="
                    rowData[col.field] === 'Pending' ||
                    rowData[col.field] === 'Unverified'
                  "
                  class="mt-1"
                  [type]="
                    rowData[col.field] === 'Pending'
                      ? rowData[col.field]
                      : 'inProgress__circle'
                  "
                />
                <span class="ms-1">{{ rowData[col.field] }}</span>
              </span>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td class="text-center column-color" [attr.colspan]="columns.length">
          {{ "NoRecordsFound" }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>

<app-settle-transactions-filter
  *ngIf="openSettleTransactionFilterModal"
  [isOpen]="openSettleTransactionFilterModal"
  [data]="settleTransactionsFilter"
  (dismiss)="openSettleTransactionFilterModal = false"
  (filterClick)="saveSettleTransactionFilter($event)"
/>
