<ion-content
  appPermission
  inputAppPermission="WalletTransactionRead"
  fullscreen>
  <ion-row>
    <ion-col class="content-grid">
      <ion-card class="m-0">
        <div id="content">
          <ion-button
            class="export-btn w-100 w-sm-auto"
            color="primary"
            (click)="makePdf()">
            <span>{{ dictionary.Export }}</span>
          </ion-button>
          <ion-col size="12">
            <ion-row class="p-3">
              <ion-col size="12" size-sm="6" class="d-flex flex-column print-col">
                <img src="../../../../assets/img/ezpin.png" width="200" class="mx-auto m-sm-0 mt-2 mt-sm-0">
              </ion-col>
              <ion-col size="12" size-sm="6" class="d-flex flex-column print-col">
                <h1 class="title mt-3 mt-sm-0">EZPIN</h1>
                <span class="value-label fs-6 mt-2">7940 Silverton Ave. Suite 101-A San Diego, CA 92126</span>
                <span class="value-label fs-6"><span class="label text-white">Email:</span> info@ezpin.com</span>
                <span class="value-label fs-6">www.ezpin.com</span>
              </ion-col>
              <ion-col size="12" size-sm="6" class="d-flex flex-column print-col">
                <span class="value-label invoice-detail-title mb-2">BILL TO</span>
                <span class="value-label fs-6">Ismail Aslan</span>
                <span class="value-label fs-6">KARŞIYAKA MAH. 322 SK. NO: 1 İÇ KAPI NO: 2 MERKEZ/BATMAN</span>
                <span class="value-label fs-6"><span class="label text-white">Tel:</span> +15104859623</span>
                <span class="value-label fs-6"><span class="label text-white">Email:</span> mamad.lithuania@gmail.com</span>
                <span class="value-label fs-6">VAT/ TAX ID # 0880639203</span>
              </ion-col>
              <ion-col size="12" size-sm="6" class="d-flex flex-column print-col">
                <span class="value-label invoice-detail-title mb-2">INVOICE DETAILS</span>
                <span class="value-label fs-6">INVOICE # 24544051</span>
                <span class="value-label fs-6">Issue Date: 03/03/2024</span>
                <span class="value-label fs-6">Location time zone: (USA/Los Angeles)</span>
                <span class="value-label fs-6">Total Due: $997.5</span>
              </ion-col>
              <ion-col size="12" class="pt-4">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total Price</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span class="mobile-col">No.</span>
                          <span>1</span>
                        </td>
                        <td>
                          <span class="mobile-col">Product</span>
                          <span>Binance Gift Card (USDT) - $50 </span>
                        </td>
                        <td>
                          <span class="mobile-col">Quantity</span>
                          <span>2</span>
                        </td>
                        <td>
                          <span class="mobile-col">Unit Price</span>
                          <span>$52.5</span>
                        </td>
                        <td>
                          <span class="mobile-col">Total Price</span>
                          <span>$105</span>
                        </td>
                        <td>
                          <span class="mobile-col"></span>
                          <span>(Ismail Aslan)</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mobile-col">No.</span>
                          <span>2</span>
                        </td>
                        <td>
                          <span class="mobile-col">Product</span>
                          <span>Binance Gift Card (USDT) - $50 </span>
                        </td>
                        <td>
                          <span class="mobile-col">Quantity</span>
                          <span>2</span>
                        </td>
                        <td>
                          <span class="mobile-col">Unit Price</span>
                          <span>$52.5</span>
                        </td>
                        <td>
                          <span class="mobile-col">Total Price</span>
                          <span>$105</span>
                        </td>
                        <td>
                          <span class="mobile-col"></span>
                          <span>(Ismail Aslan)</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mobile-col">No.</span>
                          <span>3</span>
                        </td>
                        <td>
                          <span class="mobile-col">Product</span>
                          <span>Binance Gift Card (USDT) - $50 </span>
                        </td>
                        <td>
                          <span class="mobile-col">Quantity</span>
                          <span>2</span>
                        </td>
                        <td>
                          <span class="mobile-col">Unit Price</span>
                          <span>$52.5</span>
                        </td>
                        <td>
                          <span class="mobile-col">Total Price</span>
                          <span>$105</span>
                        </td>
                        <td>
                          <span class="mobile-col"></span>
                          <span>(Ismail Aslan)</span>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <span class="mobile-col">No.</span>
                          <span>4</span>
                        </td>
                        <td>
                          <span class="mobile-col">Product</span>
                          <span>Binance Gift Card (USDT) - $50 </span>
                        </td>
                        <td>
                          <span class="mobile-col">Quantity</span>
                          <span>2</span>
                        </td>
                        <td>
                          <span class="mobile-col">Unit Price</span>
                          <span>$52.5</span>
                        </td>
                        <td>
                          <span class="mobile-col">Total Price</span>
                          <span>$105</span>
                        </td>
                        <td>
                          <span class="mobile-col"></span>
                          <span>(Ismail Aslan)</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <ion-col size="12">
                  <div class="border border-0 border-bottom border-secondary w-100 d-flex justify-content-between pb-2 mb-2">
                    <span class="label text-white ps-2">SUBTOTAL</span>
                    <span class="value-label pe-2">$997.5</span>
                  </div>
                  <div class="w-100 d-flex justify-content-between pb-2 mb-2">
                    <span class="total label text-white ps-2">TOTAL</span>
                    <span class="total value-label pe-2">$997.5</span>
                  </div>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-col>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
