<!--suppress JSUnresolvedReference -->
<ion-modal
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
  [backdropDismiss]="false"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title
          >{{ title }}
          <span class="region-lable" *ngIf="regionName">{{
            regionName
          }}</span></ion-title
        >
        <ion-buttons slot="end">
          <ion-button
            appPermission
            inputAppPermission="PriceListWrite"
            color="primary"
            [disabled]="!priceForm.form.valid"
            (click)="onNewClick()"
          >
            {{ dictionary.Save }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content
      [appDirtyPage]="
        rulesLengthTemp != rules.length || isDirtyPage ? true : false
      "
    >
      <form #priceForm="ngForm">
        <ion-grid [fixed]="true" class="w-100">
          <ion-row class="content-box">
            <ion-col size="12" class="ion-no-padding">
              <div>
                <app-page-list
                  [hasAdvancedFilter]="false"
                  [hasSearch]="false"
                  [showPagination]="false"
                  [hasExport]="false"
                  [hasRefresh]="false"
                  [hasNewButton]="showNewExceptionButton"
                  [hasCustomTableContent]="true"
                  [initialTemplate]="RulesTable"
                  [label]="dictionary.Exceptions"
                  class="price-list-prices align-right-amount"
                  [newButtonLabel]="dictionary.NewException"
                  (newButtonClick)="openCreateRuleModal = true"
                  [newButtonPermission]="'PriceListWrite'"
                />
                <ng-template #RulesTable>
                  <p-table
                    [value]="rules"
                    responsiveLayout="stack"
                    styleClass="p-datatable-gridlines"
                    breakpoint="840px"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th *ngFor="let col of rulesColumns">
                          {{ col.header }}
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template
                      pTemplate="body"
                      let-rule
                      let-rowIndex="rowIndex"
                    >
                      <tr>
                        <td *ngFor="let col of rulesColumns; let i = index">
                          <div [ngSwitch]="col.field" class="table__row">
                            <span class="table__label__row me-2">
                              {{ col.header }}
                            </span>
                            <div class="p-1 row-item">
                              <span *ngSwitchCase="'price'">
                                <ion-label class="w-100">
                                  {{ getMaxAndMinPrice(rule) }}
                                  <span
                                    class="default-lable"
                                    *ngIf="
                                      rule.faceValue.start === 0 &&
                                      rule.faceValue.end === -1
                                    "
                                  >
                                    {{ dictionary.Default }}
                                  </span>
                                </ion-label>
                              </span>
                              <span *ngSwitchCase="'sellingMargin'">
                                <ion-label class="w-100 ion-text-sm-right">
                                  {{ rule.priceValue | truncateDecimalsPipe }} %
                                  <span class="currency">
                                    <span *ngIf="rule.priceValueMode === 0">
                                      ({{ dictionary.Face }})
                                    </span>
                                    <span *ngIf="rule.priceValueMode === 1">
                                      ({{ dictionary.Buy }})
                                    </span>
                                  </span>
                                </ion-label>
                              </span>
                              <span *ngSwitchCase="'status'">
                                <ion-label
                                  color="danger"
                                  *ngIf="rule.isActive === false"
                                >
                                  {{ dictionary.Inactive }}
                                </ion-label>
                                <ion-label
                                  color="success"
                                  *ngIf="rule.isActive === true"
                                >
                                  {{ dictionary.Active }}
                                </ion-label>

                                <ion-label
                                  class="label__color"
                                  *ngIf="rule.isActive === null"
                                >
                                  {{ dictionary.Inherit }}
                                </ion-label>
                              </span>
                              <span *ngSwitchCase="'action'">
                                <div class="d-flex gap-2 align-items-center">
                                  <ion-button
                                    appPermission
                                    inputAppPermission="PriceListWrite"
                                    fill="clear"
                                    color="dark"
                                    (click)="onEditRuleClick(rule)"
                                    [pTooltip]="'Edit'"
                                    tooltipPosition="bottom"
                                    class="ion-no-margin"
                                  >
                                    <ion-icon name="pencil-outline"></ion-icon>
                                  </ion-button>
                                  <ion-button
                                    appPermission
                                    inputAppPermission="PriceListWrite"
                                    fill="clear"
                                    color="dark"
                                    (click)="removeRule(rule)"
                                    [pTooltip]="'Delete'"
                                    tooltipPosition="bottom"
                                    class="ion-no-margin mt-2 mt-sm-0"
                                    *ngIf="rowIndex > 0"
                                  >
                                    <ion-icon name="trash-outline"></ion-icon>
                                  </ion-button>
                                </div>
                              </span>
                              <span *ngSwitchDefault>
                                {{ rule[col.field] }}
                              </span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                        <td class="text-center" [attr.colspan]="columns.length">
                          {{ dictionary.NoException }}
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </ng-template>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <div class="separator"></div>
      <div class="preview-table">
        <app-page-list
          [hasAdvancedFilter]="false"
          [hasSearch]="false"
          [showPagination]="false"
          [hasExport]="false"
          [hasRefresh]="false"
          [hasNewButton]="false"
          [hasCustomTableContent]="true"
          [initialTemplate]="previewResult"
          [label]="dictionary.FinalResult"
          class="price-list-prices align-right-amount"
          [showActionSheet]="false"
        />
        <ng-template #previewResult>
          <p-table
            [value]="priceResultsData"
            responsiveLayout="stack"
            styleClass="p-datatable-gridlines"
            breakpoint="840px"
            dataKey="productId"
          >
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of columns">
                  {{ col.header }}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-previewResult>
              <tr>
                <td *ngFor="let col of columns; let i = index">
                  <div [ngSwitch]="col.field" class="table__row">
                    <span class="table__label__row me-2">
                      {{ col.header }}
                    </span>
                    <div class="p-1 row-item">
                      <span *ngSwitchCase="'priceRange'">
                        <ion-label>
                          {{ previewResult.priceRange }}
                        </ion-label>
                      </span>
                      <!-- <span
                        *ngSwitchCase="'discountBuyingPrice'"
                        class="amount_row"
                      >
                        <ion-label>
                          {{
                            previewResult.discountBuyingPrice
                              | truncateDecimalsPipe
                          }}
                          %
                          <span
                            class="priceValueMode"
                            *ngIf="previewResult.rule.priceValueMode === 0"
                          >
                            ({{ dictionary.Face }})
                          </span>
                          <span
                            class="priceValueMode"
                            *ngIf="previewResult.rule.priceValueMode === 1"
                          >
                            ({{ dictionary.Buy }})
                          </span>
                        </ion-label>
                      </span> -->
                      <span *ngSwitchCase="'buyingPrice'">
                        <ion-label>
                          {{
                            previewResult.discountBuyingPrice
                              | truncateDecimalsPipe
                          }}
                          %
                          <span class="currency"
                            >({{ previewResult.buyingPrice }})</span
                          >
                        </ion-label>
                      </span>
                      <!-- <span
                        *ngSwitchCase="'discountSellingPrice'"
                      >
                        <ion-label
                          [class]="
                            previewResult?.benefit >= 0
                              ? ''
                              : 'benefit__danger__color'
                          "
                        >
                          {{
                            previewResult.discountSellingPrice
                              | truncateDecimalsPipe
                          }}
                          %
                          <span
                            class="priceValueMode"
                            *ngIf="previewResult.rule.priceValueMode === 0"
                          >
                            ({{ dictionary.Face }})
                          </span>
                          <span
                            class="priceValueMode"
                            *ngIf="previewResult.rule.priceValueMode === 1"
                          >
                            ({{ dictionary.Buy }})
                          </span>
                        </ion-label>
                      </span> -->
                      <!-- <span *ngSwitchCase="'sellingMargin'">
                        <ion-label
                          [class]="
                            previewResult?.benefit >= 0
                              ? ''
                              : 'benefit__danger__color'
                          "
                        >
                          {{
                            previewResult.benefit * 100 | truncateDecimalsPipe
                          }}
                          %
                        </ion-label>
                      </span> -->
                      <span *ngSwitchCase="'sellingPrice'">
                        <div
                          [class]="
                            previewResult?.benefit >= 0
                              ? ''
                              : 'benefit__danger__color'
                          "
                        >
                          {{
                            previewResult.rule.priceValue * 100 - 100
                              | truncateDecimalsPipe
                          }}%

                          <span class="currency">
                            ({{ previewResult.sellingPrice }})
                          </span>
                        </div>
                      </span>
                      <span *ngSwitchCase="'isActive'">
                        <ion-label
                          color="danger"
                          *ngIf="previewResult?.rule?.isActive === false"
                        >
                          {{ dictionary.Inactive }}
                        </ion-label>
                        <ion-label
                          color="success"
                          *ngIf="previewResult?.rule?.isActive === true"
                        >
                          {{ dictionary.Active }}
                        </ion-label>

                        <ion-label
                          class="label__color"
                          *ngIf="previewResult?.rule?.isActive === null"
                        >
                          {{ dictionary.Inherit }}
                        </ion-label>
                      </span>
                      <span *ngSwitchCase="'error'">
                        <ion-icon
                          *ngIf="previewResult.errors.length > 0"
                          name="information-circle-outline"
                          (click)="
                            onShowErrorPriceViewClick(
                              previewResult.errors[0].message
                            )
                          "
                          class="error-icon"
                          color="danger"
                        ></ion-icon>
                      </span>
                      <span *ngSwitchDefault>
                        {{ previewResult[col.field] }}
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td class="text-center" [attr.colspan]="columns.length">
                  {{ dictionary.NoRecordsFound }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
<app-rule-create
  *ngIf="openCreateRuleModal"
  [isOpen]="openCreateRuleModal"
  (addRule)="addRule($event)"
  (dismiss)="openCreateRuleModal = false"
  [priceResultsData]="priceResultsData"
  [priceRange]="priceRange"
  [isPriceRange]="isPriceRange"
  [showPriceRangeCheckBox]="showPriceRangeCheckBox"
/>
<app-rule-edit
  *ngIf="openEditRuleModal"
  [isOpen]="openEditRuleModal"
  [ruleData]="ruleData"
  (editRule)="editRule($event)"
  (dismiss)="openEditRuleModal = false"
  [showRangeStartAndEndInRuleModal]="showRangeStartAndEndInRuleModal"
  [productName]="inputPrice?.product?.productName!"
  [priceRange]="priceRange"
/>
<ion-alert
  [isOpen]="showDiscardAlert"
  [header]="dictionary.DiscardChanges"
  [buttons]="alertButtons"
/>
<ion-alert
  [isOpen]="showDeleteAlert"
  [header]="dictionary.DeleteRule"
  [buttons]="alertDeleteRuleButtons"
  [message]="dictionary.RequireRuleMessage"
/>
