ion-content {
  --overflow: hidden;

  .gray__color {
    color: gray;
  }
}

.signout-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.menu_action_btn {
  position: relative;
  height: 50px;
  app-icon {
    position: absolute;
    left: 0;
  }
  ion-label {
    position: absolute;
    left: 35px;
  }
}

.branch-label {
  position: relative;
  display: contents;
  span {
    margin-left: 4px;
  }
}