<ion-modal
  class="assign__price__list__modal"
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!branchForm.form.valid"
            (click)="onAssignPriceListClick()"
          >
            {{ dictionary.Assign }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #branchForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-combobox
                [autofocus]="true"
                id="priceListId"
                [Label]="dictionary.PriceLists"
                [(ngModel)]="priceListId"
                name="priceListId"
                [data]="priceLists"
                [textField]="'priceListName'"
                [valueField]="'priceListId'"
                [required]="true"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
