<ion-modal
  class="create__branch__modal"
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.NewGatewayList }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!branchForm.form.valid"
            (click)="onNewGatewayClick()"
          >
            {{ dictionary.Save }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #branchForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-text
                [autofocus]="true"
                id="gateway"
                [Label]="dictionary.Name"
                [required]="true"
              ></app-text>
            </ion-col>
            <ion-col sizeMd="12">
              <ion-input
                [label]="dictionary.Provider"
                labelPlacement="floating"
                fill="outline"
                name="providers"
                id="providers"
                [value]="providersInputValue"
                (click)="openMultiSelectProvidersModal = true"
                [readonly]="true"
                mode="md"
              />
              <app-multi-select-modal
                *ngIf="openMultiSelectProvidersModal"
                [isOpen]="openMultiSelectProvidersModal"
                [inputData]="providersList"
                [valueField]="'id'"
                [textField]="'provider'"
                [title]="dictionary.Provider"
                (dismiss)="openMultiSelectProvidersModal = false"
                [selectedValue]="[]"
                (confirm)="confirmMultiSelectProvidersModal($event)"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
