<ion-modal
  class="create__product__modal"
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.EditProduct }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            appPermission
            inputAppPermission="ProductWrite"
            [disabled]="!productForm.form.valid"
            (click)="onEditProductClick()"
          >
            {{ dictionary.Done }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #productForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="6">
              <app-text
                [autofocus]="true"
                id="product_name"
                [Label]="dictionary.ProductName"
                [(ngModel)]="product.productName"
                name="productName"
                [disabled]="true"
              ></app-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <app-text
                [id]="'regionId'"
                name="regionId"
                [Label]="dictionary.Region"
                [(ngModel)]="regionName"
                [disabled]="true"
              />
            </ion-col>
            <ion-col size="12" size-sm="6">
              <app-text
                id="currency_id"
                class="col-md-6 col-sm-12"
                [Label]="dictionary.Currency"
                [(ngModel)]="product.currency.currencyName"
                name="currencyId"
                [disabled]="true"
              ></app-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <app-text
                [id]="'categoryId'"
                name="categoryId"
                [Label]="dictionary.Category"
                [(ngModel)]="categoryName"
                [disabled]="true"
              />
            </ion-col>
            <ion-col size="12" size-sm="6">
              <app-text
                id="provider_sku"
                [Label]="dictionary.ProviderSKU"
                [(ngModel)]="product.providerSku"
                name="providerSku"
                [disabled]="true"
              ></app-text>
            </ion-col>
            <ion-col class="d-flex align-items-center" size="12" size-sm="4">
              <ion-toggle
                color="success"
                [disabled]="true"
                name="canPreOrder"
                [(ngModel)]="product.canPreOrder"
              >
                {{ dictionary.CanPreOrder }}
              </ion-toggle>
            </ion-col>
            <ion-col size="12" size-sm="4">
              <ion-toggle
                [disabled]="true"
                name="canImmediate"
                color="success"
                [(ngModel)]="product.canImmediate"
              >
                {{ dictionary.CanImmediate }}
              </ion-toggle>
            </ion-col>
            <ion-col size="12">
              <ion-label>{{ dictionary.Description }}</ion-label>
              <p-editor
                name="description"
                [(ngModel)]="product.description"
                [style]="{ height: '200px' }"
              />
            </ion-col>
            <ion-col appPermission inputAppPermission="UploadImage" size="12">
              <ion-label>{{ dictionary.Image }}</ion-label>
              <p-fileUpload
                name="image"
                [url]="uploadImageUrl"
                (onUpload)="onUpload($event)"
                [multiple]="false"
                [auto]="true"
                accept="image/*"
                [maxFileSize]="1000000"
              >
                <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                      <div class="content">
                        <img
                          width="50"
                          height="30"
                          ngSrc="{{ imageUrl }}"
                          alt="upload-file"
                        />
                        <ion-label class="mx-2">{{ file.name }}</ion-label>
                      </div>
                    </li>
                  </ul>
                  <img
                    width="50"
                    height="30"
                    *ngIf="imageUrl && uploadedFiles.length === 0"
                    ngSrc="{{ imageUrl }}"
                    class="ms-5"
                    alt="upload-file"
                  />
                </ng-template>
              </p-fileUpload>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
