@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: 200;
  src: url("./MyriadPro-Light.woff") format("woff");
}

@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: 400;
  src: url("./MYRIADPRO-REGULAR.woff") format("woff");
}

@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: 900;
  src: url("./MYRIADPRO-BOLD.woff") format("woff");
}
