<ion-modal (willDismiss)="onDismiss()" [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.ReturnOrder }}</ion-title>
        <ion-buttons appPermission inputAppPermission="ProductWrite" slot="end">
          <ion-button
            color="primary"
            [disabled]="!returnOrderForm.form.valid"
            (click)="onSaveClick(orderId)"
          >
            {{ dictionary.ReturnOrder }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #returnOrderForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-text
                id="orderId"
                name="orderId"
                [Label]="dictionary.OrderId"
                [(ngModel)]="orderId"
                [required]="true"
                [autofocus]="true"
                (keypress)="validateNumberInput($event)"
                (keydown.enter)="returnOrderForm.form.valid ? onSaveClick(orderId) : ''"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
