<ion-card class="ion-no-margin m-2" *ngIf="order">
  <ion-card-content class="py-2">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row>
        <ion-col class="mt-1" size="6">
          <ion-label color="dark">
            {{ dictionary.OrderId }}:
            <ion-label color="medium" class="mx-1">
              {{ order.buyOrderId }}
            </ion-label>
          </ion-label>
        </ion-col>
        <ion-col class="mt-1 d-flex justify-content-end" size="6">
          <ion-label color="dark">
            {{ order.createdTime.toISOString() | convertLocalDateTime }}
          </ion-label>
        </ion-col>
        <ion-col class="mt-1" size="12">
          <ion-label color="dark">
            {{ order.productName }} {{ order.faceValue | truncateDecimalsPipe }}
            <span class="currency"
              >({{ order.productCurrency.currencyName }})</span
            >
          </ion-label>
        </ion-col>
        <ion-col
          [ngSwitch]="order.buyOrderState"
          class="mt-1"
          [size]="
            !order.canDownloadCodes && order.buyOrderState === 'Complete'
              ? 3
              : 10
          "
        >
          <div *ngSwitchCase="'Complete'">
            <div *ngIf="order.canDownloadCodes">
              <ion-button
                color="primary"
                expand="block"
                size="small"
                (click)="onSendEmailClick(order)"
                *ngIf="
                  order.buyOrderDelivery?.deliveryType === 'Email' ||
                  !order.buyOrderDelivery
                "
              >
                {{ dictionary.Resend }} {{ dictionary.Email }}
              </ion-button>
              <ion-button
                color="primary"
                expand="block"
                size="small"
                (click)="onSendEmailClick(order)"
                *ngIf="order.buyOrderDelivery?.deliveryType === 'WhatsApp'"
              >
                {{ dictionary.Resend }} {{ dictionary.WhatsApp }}
              </ion-button>
              <ion-button
                color="primary"
                expand="block"
                size="small"
                (click)="onSendEmailClick(order)"
                *ngIf="order.buyOrderDelivery?.deliveryType === 'Sms'"
              >
                {{ dictionary.Resend }} {{ dictionary.SMS }}
              </ion-button>
            </div>
          </div>
          <ion-button
            *ngSwitchCase="'Failed'"
            color="danger"
            size="small"
            fill="outline"
          >
            {{ dictionary.Failed }}
          </ion-button>
          <ion-button
            *ngSwitchDefault
            [disabled]="true"
            color="warning"
            size="small"
            fill="outline"
          >
            {{ dictionary.Pending }}
          </ion-button>
        </ion-col>
        <ion-col
          class="mt-1 d-flex justify-content-end align-items-center"
          [size]="
            !order.canDownloadCodes && order.buyOrderState === 'Complete'
              ? 12
              : 2
          "
        >
          <span
            *ngIf="
              !order.canDownloadCodes && order.buyOrderState === 'Complete'
            "
            style="margin-right: auto; font-size: 12px"
          >
            (You are not a purchase registration requester)
          </span>
          <ion-button color="secondary" size="small" [disabled]="true">
            <ion-icon name="help-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <ion-accordion-group>
    <ion-accordion>
      <ion-item slot="header">
        <ion-label color="dark">
          {{ dictionary.TotalPrice }}:
          <span class="color__gray">
            {{ order.totalBuyAmount | truncateDecimalsPipe }}
          </span>
          <span class="color__gray sm__font"
            >({{ order.productCurrency.currencyName }})</span
          >
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p-table [value]="products" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="header">
            <tr>
              <th class="m-0 py-2">{{ dictionary.Quantity }}</th>
              <th class="m-0 py-2">{{ dictionary.UnitBuyPrice }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <!--suppress JSUnresolvedReference -->
              <td class="m-0 py-2">
                {{ product.quantity | truncateDecimalsPipe }}
              </td>
              <!--suppress JSUnresolvedReference -->
              <td class="m-0 py-2">
                {{ product.unitBuyAmount | truncateDecimalsPipe }}
                <span class="color__gray sm__font"
                  >({{ order.productCurrency.currencyName }})</span
                >
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-card>

<app-send-email
  *ngIf="openSendEmailModal"
  [isOpen]="openSendEmailModal"
  [order]="row"
  (dismiss)="openSendEmailModal = false"
  (submit)="saveSendEmailForm($event)"
/>
