<ion-modal class="order__modal" (willDismiss)="onDismiss()" [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Close }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.Checkout }}</ion-title>
        <ion-buttons slot="end">
          <ion-button 
          color="primary" 
          (click)="onSubmitClick()" 
          [disabled]="!placeOrderForm.form.valid">
            {{ dictionary.Done }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #placeOrderForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-input
                labelPlacement="floating"
                fill="outline"
                id="name"
                [label]="dictionary.FullName"
                name="name"
                [(ngModel)]="placePhysicalCardOrderRequest.shipping.fullName"
                [required]="true"
                (keydown.enter)="placeOrderForm.form.valid ? onSubmitClick() : ''"
                #fullNameInput
              ></ion-input>
            </ion-col>

            <ion-col size="12">
              <app-mobile
                [Label]="dictionary.PhoneNumber"
                name="phoneNumber"
                id="phoneNumber"
                (inputChange)="phoneNumberChange($event)"
                [required]="true"
                (keydown.enter)="placeOrderForm.form.valid ? onSubmitClick() : ''"
                #phoneNumber
              />
            </ion-col>

            <ion-col size="12">
              <app-text
                id="country"
                [Label]="dictionary.Country"
                name="country"
                [readonly]="true"
                (click)="showCountryModal = true"
                (keydown.space)="showCountryModal = true"
                [(ngModel)]="countryName"
              />
            </ion-col>

            <ion-col size="4">
              <app-text
                id="state"
                [Label]="dictionary.StateProvinceTerritory"
                name="state"
                [readonly]="true"
                (click)="showStateModal = true"
                (keydown.space)="showStateModal = true"
                [(ngModel)]="stateName"
                [disabled]="countryName === ''"
              />
            </ion-col>

            <ion-col size="4">
              <app-text
                id="city"
                [Label]="dictionary.City"
                name="city"
                [readonly]="true"
                (click)="showCityModal = true"
                (keydown.space)="showCityModal = true"
                [(ngModel)]="cityName"
                [disabled]="
                  countryName === '' ||
                  stateName === '' ||
                  stateName === 'Other'
                "
              />
            </ion-col>

            <ion-col size="4">
              <ion-input
                labelPlacement="floating"
                fill="outline"
                id="zipcode"
                [label]="dictionary.ZIPPostalCode"
                name="zipcode"
                [(ngModel)]="placePhysicalCardOrderRequest.shipping.address.zipCode"
                [required]="true"
                (keydown.enter)="placeOrderForm.form.valid ? onSubmitClick() : ''"
              ></ion-input>
            </ion-col>

            <ion-col size="12">
              <ion-input
                labelPlacement="floating"
                fill="outline"
                [label]="dictionary.Address"
                name="address"
                id="address"
                (keydown.enter)="placeOrderForm.form.valid ? onSubmitClick() : ''"
                [(ngModel)]="placePhysicalCardOrderRequest.shipping.address.rawAddress"
                [required]="true"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<app-radio-list
  [isOpen]="showCountryModal"
  *ngIf="showCountryModal"
  (dismiss)="showCountryModal = false"
  [data]="countries"
  [title]="dictionary.SelectCountry"
  (select)="selectCountry($event)"
  [selectedObject]="country"
/>

<app-radio-list
  [isOpen]="showStateModal"
  *ngIf="showStateModal"
  (dismiss)="showStateModal = false"
  [data]="states"
  [title]="dictionary.SelectStateProvinceTerritory"
  (select)="selectState($event)"
  [selectedObject]="state"
/>

<app-radio-list
  [isOpen]="showCityModal"
  *ngIf="showCityModal"
  (dismiss)="showCityModal = false"
  [data]="cities"
  [title]="dictionary.SelectCity"
  (select)="selectCity($event)"
  [selectedObject]="city"
/>
