<ion-modal
  [backdropDismiss]="false"
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
  class="charge__modal"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.CreatePayment }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!chargeForm.form.valid"
            (click)="onClickSave()"
          >
            {{ dictionary.Pay }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #chargeForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-text
                [Label]="dictionary.Amount"
                [(ngModel)]="paymentOrder.amount"
                name="amount"
                id="amount"
                [required]="true"
                [mask]="thousandSeparator"
                [autofocus]="true"
                (keyup.enter)="chargeForm.form.valid ? onClickSave() : ''"
                [isPreventNavigateNumber]="true"
                [inputmode]="'numeric'"
              />
            </ion-col>
            <!-- <ion-col size="12">
              <app-combobox
                [autofocus]="true"
                [id]="'currency'"
                [Label]="dictionary.Currency"
                [(ngModel)]="paymentOrder.currencyId"
                [required]="true"
              />
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
