<ion-modal (willDismiss)="onDismiss()" [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!codeForm.form.valid"
            (click)="onSubmitClick()"
          >
            {{ dictionary.Submit }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #codeForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-title>{{ dictionary.Enter2StepVerificationCode }}</ion-title>
            </ion-col>
            <ion-col size="12">
              <app-text
                [autofocus]="true"
                id="code"
                [Label]="dictionary.Code"
                [(ngModel)]="code"
                name="code"
                [required]="true"
                (keydown.enter)="codeForm.form.valid ? onSubmitClick() : ''"
              ></app-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
