<div class="main-card-info">
  <div class="top-bar"></div>
  <div class="main-bar">
    <div class="card-info-logo">
      <img src="../../../../assets/img/card-info-logo.png" alt="eppin_logo" />
    </div>
    <h3 class="card-info-title">EZ50</h3>
    <h5 class="card-info-subtitle">Test EZ PIN</h5>
    <section
      class="card-info-detail"
      *ngFor="let product of productList; let last = last"
    >
      <div class="result-gift-card">
        <h2 class="product-card-number">PIN: {{ product.pinCode }}</h2>
      </div>
      <div class="result-gift-card">
        <h2 class="product-card-number">
          Card Number: {{ product.cardNumber }}
        </h2>
      </div>
      <p>Expire Time: {{ product.expireDate }}</p>
      <ion-button
        class="copy-btn"
        fill="outline"
        color="light"
        (click)="copyPin(product.pinCode)"
        >Copy Link
        <ion-icon name="copy-outline"></ion-icon>
      </ion-button>
      <hr class="seprator" *ngIf="!last" />
    </section>
    <p class="powered">
      Delivery Powered by
      <a class="link" href="https://ezpin.com/" target="_blank">EZPin.com</a>
    </p>
  </div>
</div>
