.divider {
  width: 100%;
}

.check-card-container {
  height: calc(100% - 55px);
}

.card-box {
  height: 100%;
  margin: 0;
}

.input-label {
  font-size: 18px;
}
.label__color {
  color: var(--gray);
}