<ion-modal
  class="create__price__list__modal"
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.NewPriceList }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!priceListForm.form.valid"
            (click)="onNewPriceListClick()"
          >
            {{ dictionary.Save }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #priceListForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-text
                [autofocus]="true"
                id="priceListName"
                [Label]="dictionary.PriceListName"
                [(ngModel)]="priceList.priceListName"
                name="priceListName"
                [required]="true"
                (keydown.enter)="priceListForm.form.valid ? onNewPriceListClick() : ''"
              ></app-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
