<ion-input
  #baseNumberInput
  [id]="id"
  [autofocus]="autofocus"
  [label]="Label"
  labelPlacement="floating"
  fill="outline"
  [color]="color"
  [(ngModel)]="value"
  (ngModelChange)="handleChange($event)"
  [required]="required"
  [max]="max"
  [min]="min"
  [readonly]="readonly"
  [helperText]="helperText"
  [errorText]="errorText"
  [placeholder]="placeholder"
  [disabled]="isDisabled"
  [clearInput]="clearInput"
  [ngStyle]="customCss"
  (keypress)="onKeypress($event)"
  (ionBlur)="onBlur($event)"
  (ionInput)="onIonInput($event)"
  inputmode="numeric"
  type="number"
  [debounce]="debounce"
  mode="md"
>
</ion-input>
