<ion-modal
  [backdropDismiss]="true"
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
  (ionModalDidPresent)="emailInput.setFocus()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.AddNewMember }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!newMemberForm.form.valid"
            (click)="onClickSave()"
          >
            {{ dictionary.Save }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #newMemberForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-input
                #emailInput
                labelPlacement="floating"
                fill="outline"
                [label]="dictionary.Email"
                [(ngModel)]="newMember.email"
                name="email"
                [email]="true"
                id="email"
                [required]="true"
                mode="md"
                (keydown.enter)="newMemberForm.form.valid ? onClickSave() : ''"
              />
            </ion-col>
            <ion-col size="12">
              <app-combobox
                id="currency"
                [Label]="dictionary.Roles"
                [(ngModel)]="newMember.roleId"
                name="currency"
                [data]="roles"
                [textField]="'roleName'"
                [valueField]="'roleId'"
                [required]="true"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
