<ion-modal
  class="wallet__transaction__filter__modal"
  (willDismiss)="onDismiss()"
  [isOpen]="isOpen"
>
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.Filter }}</ion-title>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="onFilterClick()">
            {{ dictionary.Done }}
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="12">
              <app-combobox
                [Label]="dictionary.State"
                [(ngModel)]="filter.posOrderState"
                [data]="posOrderStates"
                [textField]="'name'"
                [valueField]="'value'"
                name="type"
                [includeClear]="true"
                (selectionChange)="posOrderStateSelectionChange($event)"
              />
            </ion-col>
            <ion-col *ngIf="showCustomer" size="12">
              <app-text
                name="merchant"
                id="merchant"
                [Label]="dictionary.Customers"
                [(ngModel)]="selectedCustomer"
                [required]="true"
                [readonly]="true"
                (click)="openSelectCustomerModal = true"
              />
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<app-customer-modal
  *ngIf="openSelectCustomerModal"
  [isOpen]="openSelectCustomerModal"
  [data]="customers"
  (dismiss)="openSelectCustomerModal = false"
  [selectedCustomer]="selectedCustomer"
  (chooseCustomer)="chooseCustomer($event)"
/>
