.product__description__modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-100);
  --ion-toolbar-border-color: var(--ion-color-step-100);

  ion-item {
    --background: #f2682a;
  }
}
