ion-content {
  --overflow: auto;

  .price__input {
    width: 75%;
    margin: 0 auto;
  }

  .product__amount__info {
    font-size: 12px;
    margin: 0.8rem 0;
  }

  .product-img {
    width: 100%;
    height: 145px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 0 auto;
    max-width: 222px;
    .img {
      width: 100%;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      height: auto;
    }
  }

  .center__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .label__value {
      color: gray;
      margin: 0 0.5rem;
    }
  }
}

.active__button {
  --background: #f2682a;
  --background-hover: #f2682a;
  --background-activated: #f2682a;
  --background-focused: #f2682a;
}
