<ion-modal (willDismiss)="onDismiss()" [isOpen]="isOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar class="px-3">
        <ion-buttons slot="start">
          <ion-button (click)="onDismiss()" color="primary">
            {{ dictionary.Cancel }}
          </ion-button>
        </ion-buttons>
        <ion-title>{{ dictionary.EditCurrency }}</ion-title>
        <ion-buttons slot="end">
          <ion-button
            color="primary"
            [disabled]="!currencyForm.form.valid"
            (click)="submitForm()"
          >
            {{ dictionary.Done }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form #currencyForm="ngForm">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-text
                id="currency_name"
                [Label]="dictionary.Name"
                [(ngModel)]="model.currencyName"
                name="currencyName"
                [required]="true"
                (keydown.enter)="currencyForm.form.valid ? submitForm() : ''"
              ></app-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
